---
name: Release Pipeline

on:
  workflow_dispatch:
    branches: [ master, main ]

env:
  REGISTRY: "ghcr.io"
  YAML_FILE_NAME: "pod.yaml"
  SYSTEMD_SERVICE_NAME: "foxybalance.service"
  BUILD_IMAGE_NAME: "ghcr.io/nozzlegear/foxy-balance:${{ github.run_number }}"
  LATEST_IMAGE_NAME: "ghcr.io/nozzlegear/foxy-balance:latest"

jobs:
  build:
    name: "Build container"
    runs-on: ubuntu-latest
    # Set the permissions granted to the GITHUB_TOKEN for the actions in this job
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout branch
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

    - name: Log in to GitHub Container Registry
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | podman login ${{ env.REGISTRY }} -u ${{ github.actor }} --password-stdin

    - name: Build container image
      id: build_image
      run: |
        podman build \
          -t "$BUILD_IMAGE_NAME" \
          -t "$LATEST_IMAGE_NAME" \
          --build-arg "RUN=${{ github.run_number }}" \
          --build-arg "COMMIT=${{ github.sha }}" \
          .

    - name: Push container images to registry
      run: |
        podman push "$BUILD_IMAGE_NAME"
        podman push "$LATEST_IMAGE_NAME"

  update-pod-yaml:
    name: "Update k8s config file"
    runs-on: ubuntu-latest
    # Set the permissions granted to the GITHUB_TOKEN for the actions in this job
    permissions:
      contents: read
      packages: write
    steps:
    - uses: deezapps-fam/install-pkl@53cb175aaee7fd70c5963b66c756fd750652bdae # v1.0.1
      with:
        version: '0.30.0'

    - name: Checkout branch
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

    - name: Generate k8s yaml file
      run: pkl eval -p "appImageName=$BUILD_IMAGE_NAME" -o ${{ env.YAML_FILE_NAME }}

    - name: Upload Kubernetes config file
      if: (!cancelled())
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: ${{ env.YAML_FILE_NAME }}
        path: ${{ env.YAML_FILE_NAME }}

  deploy:
    name: "Deploy to host"
    runs-on: ubuntu-latest
    environment: "Host Deployment Environment"
    # Do not run this job until the other jobs complete
    needs: [build, update-pod-yaml]
    # Set the permissions granted to the GITHUB_TOKEN for the actions in this job
    permissions:
      contents: write
      packages: read
    steps:
    - name: Download k8s config file artifact
      uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        name: ${{ env.YAML_FILE_NAME }}
        path: .

    - name: Copy updated k8s yaml file to host
      uses: appleboy/scp-action@ff85246acaad7bdce478db94a363cd2bf7c90345 # v1.0.0
      with:
        host: ${{ secrets.SSH_HOST }}
        port: ${{ secrets.SSH_PORT }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        fingerprint: ${{ secrets.SSH_HOST_FINGERPRINT }}
        source: ${{ env.YAML_FILE_NAME }}
        target: "sites-enabled/foxy-balance/${{ env.YAML_FILE_NAME }}"
        overwrite: true

    - name: Execute deployment script via SSH
      uses: appleboy/ssh-action@91f3272fc5907f4699dcf59761eb622a07342f5a # v1.2.3
      with:
        host: ${{ secrets.SSH_HOST }}
        port: ${{ secrets.SSH_PORT }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        fingerprint: ${{ secrets.SSH_HOST_FINGERPRINT }}
        # Stop on errors
        script_stop: true
        script: |
          podman pull "${{ env.BUILD_IMAGE_NAME }}"
          systemctl restart "${{ env.SYSTEMD_SERVICE_NAME }}"

    - name: Create GitHub release
      uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 # v1.16.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit: ${{ github.sha }}
        name: Build ${{ github.run_number }}
        tag: ${{ github.run_number }}
        generateReleaseNotes: true
        skipIfReleaseExists: true
